/autom4te.cache
/.settings
/.cproject
/.project
/aclocal.m4
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/ylwrap
/config.h
config.h.in~
compile
